<%= form_for(@answer) do |f| %>
  <div>
    Name: <%= f.text_field :name %>
  </div>
  <div>
    Favorites:
    <ul>
      <% [:chocolate, :puppies, :rainbows, :cold_hard_cash].each do |s|
        <%= render partial: "checkbox", locals: {form: f, field_name: s} %>
      <% end %>
    </ul>
  </div>
  <%= f.submit %>
<% end %>
